<div class="slider">
  <div class="spans">
    <div class="inverse-left">
    </div>
    <div class="inverse-right">
    </div>
    <div class="range">
    </div>
    <span class="thumb thumb-left">
    </span>
    <span class="thumb thumb-right">
    </span>
  </div>
  <input (input)="fillMin()"
    class="input-range min"
    max="100"
    min="0"
    step="1"
    tabindex="0"
    type="range"
    value="0"/>
  <input (input)="fillMax()"
    class="input-range max"
    max="100"
    min="0"
    step="1"
    tabindex="0"
    type="range"
    value="100"/>
</div>
