<div class="container-body">
  <section class="col-12 col-sm-12 col-lg-12">
    <div class="row no-gutters p-0 col-12 col-sm-12 col-lg-12">
      <!-- container for input search by location -->
      <div class="order-sm-1 order-2 col-12 col-sm-6 col-lg-4 px-0">
        <div class="justify-content-center form-item mx-0">
          <form [formGroup]="addressGroup">
            <input class="form-control form-input" type="text" placeholder="Write location" formControlName="address" />
            <i class="fas fa-search-location form-icons"></i>
          </form>
        </div>
      </div>
      <!-- end container for input search by location -->
      <!-- container for input search by location -->
      <div class="order-1 order-sm-2 col-12 col-sm-6 col-lg-8 px-0 d-flex align-items-center justify-content-center">
        <h1 class="form-title m-0 px-4">Welcome in best place to look for active rest</h1>
      </div>
      <!-- end container for input search by location -->
    </div>
    <form [formGroup]="filterForm">
      <!-- container for filter -->
      <div class="col-12 col-sm-6 col-lg-4 px-0 ">
        <button class="form-control filter-btn my-2 mx-0" (click)="filterShow = !filterShow">
          Filter
        </button>
      </div>
      <div class="row filter-row no-gutters mx-0 col-12 col-sm-12 col-lg-12" [hidden]="filterShow === false"
        [@showHide]="filterShow ? 'show' : 'hide'">
        <!-- column for surface -->
        <div class="col-12 col-sm-12 col-md-3 col-lg-3 my-1">
          <!--
            <button class="btn btn-secondary dropdown-toggle" href="#">Surface</button>
          -->
          <div class="d-flex h-100 justify-content-center align-items-center flex-column">
            <label class="d-flex align-items-center w-100 filter-label" *ngFor="let surface of surfacesList">
              <input class="filter-checkbox ml-2" type="checkbox" (input)="setSomething(surface.name,surface.id)" />
              <span class="filter-label-title mx-auto">{{surface.name}}</span>
            </label>
          </div>
        </div>
        <!-- end column for surface -->
        <div class="row col-12 col-sm-12 col-md-9 col-lg-9 my-1 no-gutters">
          <!-- column for paid -->
          <div class="col-12 col-sm-6 col-lg-4 my-2 px-0">
            <label class="d-flex align-items-center mb-0 filter-label">
              <input class="filter-checkbox ml-2" type="checkbox" formControlName="paid" />
              <span class="filter-label-title mx-auto">paid</span>
            </label>
          </div>
          <!-- end column for paid -->
          <!-- column for lighting -->
          <div class="col-12 col-sm-6 col-lg-4 my-2 px-0">
            <label class="d-flex align-items-center mb-0 filter-label">
              <input class="filter-checkbox ml-2" type="checkbox" formControlName="lighting" />
              <span class="filter-label-title mx-auto">lighting</span>
            </label>
          </div>
          <!-- end column for lighting -->
          <!-- column for fenced -->
          <div class="col-12 col-sm-6 col-lg-4 my-2 px-0">
            <label class="d-flex align-items-center mb-0 filter-label">
              <input class="filter-checkbox ml-2" type="checkbox" formControlName="fenced" />
              <span class="filter-label-title mx-auto">fance</span>
            </label>
          </div>
          <!-- end column for fenced -->
          <!-- column for lockerRoom -->
          <div class="col-12 col-sm-6 col-lg-4 my-2 px-0">
            <div class="d-flex h-100 justify-content-center align-items-center flex-column">
              <label class="d-flex align-items-center mb-0 filter-label">
                <input class="filter-checkbox ml-2" type="checkbox" formControlName="lockerRoom" />
                <span class="filter-label-title mx-auto">locker room</span>
              </label>
            </div>
          </div>
          <!-- end column for lockerRoom -->
          <!-- column for width -->
          <div class="col-12 col-sm-6 col-lg-4 my-2 px-0">
            <label class="d-flex align-items-center justify-content-center mb-0 filter-label">
              Width :
            </label>
            <app-multirange-slider (emitMin)="getWidthMin($event)" (emitMax)="getWidthMax($event)"></app-multirange-slider>
            <label class="d-flex align-items-center mb-0 filter-label">
              <span class="filter-label-title mx-auto">min {{filterForm.value.widthMin}}m</span>
              <span class="filter-label-title mx-auto">max {{filterForm.value.widthMax}}m</span>
            </label>
          </div>
          <!-- end column for width -->
          <!-- column for length -->
          <div class="col-12 col-sm-6 col-lg-4 my-2 px-0">
            <label class="d-flex align-items-center justify-content-center mb-0 filter-label">
              Length :
            </label>
            <app-multirange-slider (emitMin)="getLengthMin($event)" (emitMax)="getLengthMax($event)"></app-multirange-slider>
            <label class="d-flex align-items-center mb-0 filter-label">
              <span class="filter-label-title mx-auto">min {{filterForm.value.lengthMin}}m</span>
              <span class="filter-label-title mx-auto">max {{filterForm.value.lengthMax}}m</span>
            </label>
          </div>
          <!-- end column for length -->
        </div>

        <!-- column for hide button -->
        <div class="col-12 col-sm-12 col-lg-12 mb-3 h-100">
          <button class="btn filter-btn" (click)="filterShow = !filterShow">
            Hide
          </button>
        </div>
        <!-- end column for hide button -->
      </div>
      <!-- end container for filter -->
    </form>
  </section>
  <!-- main content -->
  <section>
    <div class="row no-gutters col-12 col-sm-12 col-lg-12 my-4">
      <ng-container *ngIf="promptSoccerFieldList?.length > 0; then prompt; else examples"></ng-container>
      <ng-template #prompt>
        <div class="col-12 col-sm-12 col-md-12 col-lg-6 my-4 px-4" *ngFor="let field of promptSoccerFieldList; let i = even">
          <app-mini-socerfield [field]="field" [even]="i ? true: false"></app-mini-socerfield>
        </div>
      </ng-template>
      <ng-template #examples>
        <div class="col-12 col-sm-12 col-md-12 col-lg-6 my-4 px-4" *ngFor="let field of exampleSoccerFieldList; let i = even">
          <app-mini-socerfield [field]="field" [even]="i ? true: false"></app-mini-socerfield>
        </div>
      </ng-template>
    </div>
  </section>
</div>
