<div class="d-flex align-items-center justify-content-center container-body">
  <section class="col-8 container-center">

    <div class="row justify-content-center">
      <h1 class="form-title">Edit Soccer Field</h1>
    </div>

    <form [formGroup]="form">
      <div class="justify-content-center form-item">
        <input class="form-control form-input"
               type="text"
               formControlName="name">
      </div>

      <form [formGroup]="addressForm">
        <div class="justify-content-center form-item">
          <input class="form-control form-input"
                 type="text"
                 formControlName="city">
          <input class="form-control form-input"
                 type="text"
                 formControlName="street">
          <input class="form-control form-input"
                 type="text"
                 formControlName="apartmentNumber">
        </div>
      </form>

      <div class="justify-content-center form-item">
        <select class="form-control"
                formControlName="surface">
          <option *ngFor="let surface of surfaceList"
                  [ngValue]="surface">
            {{surface.name}}
          </option>
        </select>
      </div>

      <div class="justify-content-center form-item">
        <input class="form-control form-input"
               type="text"
               formControlName="width">
      </div>

      <div class="justify-content-center form-item">
        <input class="form-control form-input"
               type="text"
               formControlName="length">
      </div>

      <div class="justify-content-center form-item">
        <input class="form-control form-input"
               type="text"
               formControlName="price">
      </div>

    </form>

    <div mat-dialog-actions>
      <button class="btn btn-danger"
              (click)="close()">Close
      </button>
      <button class="btn btn-primary"
              [disabled]="form.invalid || addressForm.invalid"
              (click)="save()">Save
      </button>
    </div>

  </section>

</div>
