/* You can add global styles to this file, and also import other style files */

.ysf-2{
  font-family: 'Carter One', cursive;
  font-size:2rem !important;
}

.ysf-3{
  font-family: 'Galada', cursive;
  font-size:2rem !important;
}

.form-input:focus + .form-icons{
  color: #007bff;
  opacity: 0.9;
  transition:1.5s all;
}
