*{
  margin:0;
  padding:0;
  border:none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.container-body{
  min-height: 100vh;
  background: url("https://images.pexels.com/photos/54567/pexels-photo-54567.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940") no-repeat center center fixed;
  background-size: cover;
  position: relative;
}

.container-body::before{
  content: '';
  position: absolute;
  top:0;
  bottom:0;
  left:0;
  right: 0;
  background-image: -webkit-gradient(linear,left top, right bottom,from(#065888),color-stop(#077a3b),to(#09a750));
  background-image: linear-gradient(to bottom right,#065888,#077a3b,#09a750);
	opacity: .4;
}

.container-center{
  background-color: rgba(46, 46, 46, 0.79);
  padding:20px 20px 20px 20px;
  border-radius: 5px;
  margin:20px;
}

.form-item{
  height: 100%;
  margin: 15px 5px 15px 5px;
  position: relative;
}

.form-title{
  text-align: center;
  line-height: 20px;
  font-size:24px;
  color:#fff;
  margin: 20px 0px 20px 0px;
}

.form-input{
  height: 45px;
  padding-left: 50px;
}

.form-btn{
  height: 45px;
}

.form-qustion{
  font-size:14px;
  text-align: center;
  height: 100%;
  width:100%;
  margin-left:8px;
  margin-right: 8px;
  color:#fff;
}

.form-link{
  color:#0069d9;
  cursor: pointer;
}

.form-link:hover{
  color:#2d94fc;
}

.form-icons{
  position: absolute;
  top:-7px;
  left:11px;
  transform: translate(0,50%);
  width: 30px;
  font-size: 30px;
  color: #000;
  opacity: 0.3;
}

.form-input:focus + .form-icons{
  color: #007bff;
  opacity: 0.9;
  transition:1.5s all;
}


