<div class="d-flex align-items-center justify-content-center container-body">
  <section class="col-8 col-sm-8 col-lg-4 container-center ">
    <div class="justify-content-center">
      <h1 class="form-title">Sign Up</h1>
    </div>
    <form (submit)="createUser()" [formGroup]="registrationForm">
      <div class="justify-content-center form-item">
        <input [ngClass]="{'error-show': errorReason === 'nickname'}" class="form-control form-input" formControlName="nickname" placeholder="Nickname"
               type="text">
        <i class="fas fa-user-tie form-icons"></i>
      </div>
      <div class="justify-content-center form-item">
        <input class="form-control form-input" formControlName="firstName" placeholder="First Name" type="text">
        <i class="fas fa-user-tie form-icons"></i>
      </div>
      <div class="justify-content-center form-item">
        <input class="form-control form-input" formControlName="secondName" placeholder="Second Name" type="text">
        <i class="fas fa-user-tie form-icons"></i>
      </div>
      <div class="justify-content-center form-item">
        <input [ngClass]="{'error-show': errorReason === 'email'}" class="form-control form-input" formControlName="email" placeholder="Email"
               type="email">
        <i class="fas fa-at form-icons"></i>
      </div>
      <div class="justify-content-center form-item">
        <input class="form-control form-input" formControlName="password" placeholder="Password" type="password">
        <i class="fas fa-key form-icons"></i>
      </div>
      <div class="justify-content-center form-item">
        <input class="form-control form-input" formControlName="confirmPassword" placeholder="Password" type="password">
        <i class="fas fa-key form-icons"></i>
      </div>
      <div class="row h-100 no-gutters justify-content-center align-items-center form-item">
        <div class="col-12 col-sm-4 col-lg-4">
          <button [disabled]="registrationForm.invalid" class=" btn btn-primary w-100 form-btn" type="submit">Sign
            Up
          </button>
        </div>
        <div class="col-6 col-sm-4 col-lg-4 text-center my-1"><span class="form-qustion">Are you member?</span></div>
        <div class="col-6 col-sm-4 col-lg-4 text-center my-1"><span class="form-qustion form-link"><a
          [routerLink]="[getLoginRoute()]">Click
              here to login</a></span></div>
      </div>
    </form>
    <section [hidden]="!registrationErrorMsg?.length > 0">
      <div class="d-flex align-items-center text-white error-container">
        <i class="fas fa-plus error-icon"></i>
        <span class="px-3">{{ registrationErrorMsg }}</span>
      </div>
    </section>
  </section>
</div>
