<main class="container-body">
  <header class="col-12 px-0 px-md-4">
    <div class="row no-gutters col-12 px-0">
      <!-- container for input search by location -->
      <div class="order-md-1 order-2 col-12 col-md-6 col-lg-4 px-0">
          <form [formGroup]="addressGroup" class="address-form">
            <input class="form-control form-input"
            formControlName="address"
            placeholder="Write location"
            type="text"/>
            <i class="fas fa-search-location form-icon"></i>
          </form>
      </div>
      <!-- end container for input search by location -->
      <!-- container for banner -->
      <div class="order-1 order-xs-2 col-12 col-md-6 col-lg-8 px-0 container-banner">
        <h1 class="m-0 px-4 banner-title">
          Welcome in best place to look for active rest
        </h1>
      </div>
      <!-- end container for banner -->
    </div>
     <!-- container for filter -->
    <form [formGroup]="filterForm" class="col-12 px-0">
        <button (click)="filterShow = !filterShow"
          class="my-2 mx-0 form-control filter-btn">
          Filter
        </button>
      <div [@showHide]="filterShow ? 'show' : 'hide'"
        [hidden]="filterShow === false"
        class="row no-gutters mx-0 col-12 container-filter">
        <!-- column for surface -->
        <div class="col-12 col-md-3 my-1 container-surfaces">
            <label *ngFor="let surface of surfacesList"
              class="filter-label">
              <input (input)="setSomething(surface.id)"
                class="ml-2 filter-checkbox"
                type="checkbox"/>
              <span class="mx-auto ">
                {{surface.name}}
              </span>
            </label>
        </div>
        <!-- end column for surface -->
        <!-- column for other criteria-->
        <div class="row col-12 col-md-9 my-1 no-gutters">
          <!-- column for paid -->
          <div class="col-12 col-sm-6 col-lg-4 my-2 px-0">
            <label class="filter-label">
              <input class="ml-2 filter-checkbox"
                formControlName="paid"
                type="checkbox"/>
              <span class="mx-auto">
                paid
              </span>
            </label>
          </div>
          <!-- end column for paid -->
          <!-- column for lighting -->
          <div class="col-12 col-sm-6 col-lg-4 my-2 px-0">
            <label class="filter-label">
              <input class="ml-2 filter-checkbox"
                formControlName="lighting"
                type="checkbox"/>
              <span class="mx-auto">
                lighting
              </span>
            </label>
          </div>
          <!-- end column for lighting -->
          <!-- column for fenced -->
          <div class="col-12 col-sm-6 col-lg-4 my-2 px-0">
            <label class="filter-label">
              <input class="ml-2 filter-checkbox"
                formControlName="fenced"
                type="checkbox"/>
              <span class="mx-auto">
                fance
              </span>
            </label>
          </div>
          <!-- end column for fenced -->
          <!-- column for lockerRoom -->
          <div class="col-12 col-sm-6 col-lg-4 my-2 px-0 d-flex align-items-center">
              <label class="filter-label">
                <input class="ml-2 filter-checkbox"
                  formControlName="lockerRoom"
                  type="checkbox"/>
                <span class="mx-auto">
                  locker room
                </span>
              </label>
          </div>
          <!-- end column for lockerRoom -->
          <!-- column for width -->
          <div class="col-12 col-sm-6 col-lg-4 my-2 px-0">
            <label class="filter-label">
              Width :
            </label>
            <app-multirange-slider
              (emitMax)="getWidthMax($event)"
              (emitMin)="getWidthMin($event)">
            </app-multirange-slider>
            <label class="filter-label">
              <span class="mx-auto">
                min {{filterForm.value.widthMin}} m
              </span>
              <span class="mx-auto">
                max {{filterForm.value.widthMax}} m
              </span>
            </label>
          </div>
          <!-- end column for width -->
          <!-- column for length -->
          <div class="col-12 col-sm-6 col-lg-4 my-2 px-0">
            <label class="filter-label">
              Length :
            </label>
            <app-multirange-slider
              (emitMax)="getLengthMax($event)"
              (emitMin)="getLengthMin($event)">
            </app-multirange-slider>
            <label class="filter-label">
              <span class="mx-auto">
                min {{filterForm.value.lengthMin}} m
              </span>
              <span class="mx-auto">
                max {{filterForm.value.lengthMax}} m
              </span>
            </label>
          </div>
          <!-- end column for length -->
        </div>
        <!-- end column for other criteria-->
        <!-- column for hide button -->
        <div class="col-12 mb-3">
          <button (click)="filterShow = !filterShow"
            class="btn filter-btn">
            Hide
          </button>
        </div>
        <!-- end column for hide button -->
      </div>
      <!-- end container for filter -->
    </form>
  </header>
  <!-- main content -->
  <section class="row no-gutters my-4 p-0 col-12">
      <ng-container
        *ngIf="promptSoccerFieldList?.length > 0; then prompt; else examples">
      </ng-container>
      <ng-template #prompt>
        <div class="col-12 px-md-4">
          <h2 class="m-0 text-md-left banner-title">
            Found {{promptSoccerFieldList.length}} place
          </h2>
        </div>
        <div *ngFor="let field of promptSoccerFieldList;
          let i = even"
          class="col-12 col-lg-6 my-4 px-md-4">
          <app-mini-socerfield [even]="i"
            [field]="field">
          </app-mini-socerfield>
        </div>
      </ng-template>
      <ng-template #examples>
        <div class="col-12 px-md-4">
          <h2 class="m-0 text-md-left banner-title">
            Our top 10 recommended place
          </h2>
        </div>
        <div *ngFor="let field of exampleSoccerFieldList;
          let i = even"
          class="col-12 col-lg-6 my-4 px-md-4">
          <app-mini-socerfield [even]="i"
           [field]="field">
          </app-mini-socerfield>
        </div>
      </ng-template>
  </section>
</main>
<section>
  <app-footer>
  </app-footer>
</section>
