<div class="container-body pt-2">
  <div class="col-12 col-sm-12 col-md-12 col-lg-12 p-4">
    <div class="row no-gutters container-data w-100 h-100">
      <div class="col-12 col-sm-6 col-lg-4 my-2 px-0">Data</div>
      <div class="col-12 col-sm-6 col-lg-4 my-2 px-0">Data</div>
      <div class="col-12 col-sm-6 col-lg-4 my-2 px-0">Data</div>
      <div class="col-12 col-sm-6 col-lg-4 my-2 px-0">Data</div>
      <div class="col-12 col-sm-6 col-lg-4 my-2 px-0">Data</div>
      <div class="col-12 col-sm-6 col-lg-4 my-2 px-0">Data</div>
    </div>
  </div>
</div>
