* {
  margin: 0;
  padding: 0;
  border: none;
  box-sizing: border-box;
}

.container-body {
  min-height: 100%;
  background: url("https://images.pexels.com/photos/54567/pexels-photo-54567.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940") no-repeat center center fixed;
  background-size: cover;
  position: relative;
}

.container-body::before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-image: linear-gradient(to bottom right, #065888, #077a3b, #09a750);
  opacity: .4;
}

.container-data {
  position: relative;
  background: rgba(52, 58, 64, 0.8);
  color: #fff;
}

.container-summary {
  background: #343A40;
  color: #fff;
  font-size: 24px;
}

.important-info {
  font-size: 24px;
  font-weight: 400;
  color: #ff0202;
  animation-name: error-shake;
  animation-timing-function: cubic-bezier(.36, .07, .19, .97);
  animation-direction: both;
  animation-duration: 1s;
}

.title-field {
  animation-name: show-names;
  animation-duration: 1s;
  animation-iteration-count: 1;
  font-size: 28px;
  font-style: normal;
}

.title-field-summary {
  font-size: 24px;
}

.data-field {
  animation-name: show-text;
  animation-duration: 3s;
  animation-iteration-count: 1;
  font-size: 22px;
  font-style: bold;
  text-align: center;
}

.data-field-small {
  font-size: 18px;
  color: #9fabb7;
}

.data-icon {
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  border-radius: 15px;
  font-size: 16px;
}

.data-icon-true {
  background: #007bff;
}

.data-icon-false {
  background: red;
}

.picture {
  min-height: 200px;
  background: url('https://images.pexels.com/photos/399187/pexels-photo-399187.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940') no-repeat center center;
  background-size: cover;
}

.btn-book {
  border-radius: 0px;
}

.btn-copied {
  color: #fff;
  background: #007bff;
}

.btn-book:hover {
  background: #007bff;
  color: #fff;
  transition: 1s all;
}

@keyframes show-names {
  from {
    left: -50px;
    opacity: 0;
  }

  to {
    left: 0;
    opacity: 1;
  }
}

@keyframes show-text {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@-webkit-keyframes error-shake {

  10%,
  90% {
    -webkit-transform: translate3d(-1px, 0, 0);
    transform: translate3d(-1px, 0, 0);
  }

  20%,
  80% {
    -webkit-transform: translate3d(2px, 0, 0);
    transform: translate3d(2px, 0, 0);
  }

  30%,
  50%,
  70% {
    -webkit-transform: translate3d(-4px, 0, 0);
    transform: translate3d(-4px, 0, 0);
  }

  40%,
  60% {
    -webkit-transform: translate3d(4px, 0, 0);
    transform: translate3d(4px, 0, 0);
  }
}
