<div class="container-body pt-2">
  <div class="col-12 col-sm-12 col-md-12 col-lg-12 p-4">
    <div class="row no-gutters container-data w-100 h-100">
      <div class="col-12 col-sm-12 col-lg-4 my-2 px-3">
        <div class="col-12 col-sm-12 col-lg-12 col-lg-12 m-0 px-0 d-flex justify-content-center align-items-center title-field">Name</div>
        <div class="col-12 col-sm-12 col-lg-12 col-lg-12 m-0 px-0 mt-3 d-flex justify-content-center align-items-center data-field">{{soccerfieldToBook.name}}</div>
      </div>
      <div class="col-12 col-sm-12 col-lg-4 my-2 px-2">
        <div class="col-12 col-sm-12 col-lg-12 col-lg-12 m-0 px-0 d-flex justify-content-center align-items-center title-field">Adress</div>
        <div class="col-12 col-sm-12 col-lg-12 col-lg-12 m-0 px-0 mt-3 d-flex justify-content-center align-items-center data-field">{{soccerfieldToBook.address.city}},
          {{soccerfieldToBook.address.street}} {{soccerfieldToBook.address.apartmentNumber}}</div>
      </div>
      <div class=" col-12 col-sm-12 col-lg-4 my-2 px-2">
        <div class="col-12 col-sm-12 col-lg-12 col-lg-12 m-0 px-0 d-flex justify-content-center align-items-center title-field">Size</div>
        <div class="col-12 col-sm-12 col-lg-12 col-lg-12 m-0 px-0 mt-3 d-flex justify-content-center align-items-center data-field">{{soccerfieldToBook.length}}m
          x
          {{soccerfieldToBook.width}}m</div>
      </div>
      <div class=" col-12 col-sm-12 col-lg-4 my-2 px-2">
        <div class="col-12 col-sm-12 col-lg-12 col-lg-12 m-0 px-0 d-flex justify-content-center align-items-center title-field">Price</div>
        <div class="col-12 col-sm-12 col-lg-12 col-lg-12 m-0 px-0 mt-3 d-flex justify-content-center align-items-center data-field">{{soccerfieldToBook.price}}
          PLN/1.5h</div>
      </div>
      <div class=" col-12 col-sm-12 col-lg-4 my-2 px-2">
        <div class="col-12 col-sm-12 col-lg-12 col-lg-12 m-0 px-0 d-flex justify-content-center align-items-center title-field">Surface</div>
        <div class="col-12 col-sm-12 col-lg-12 col-lg-12 m-0 px-0 mt-3 d-flex justify-content-center align-items-center data-field">{{soccerfieldToBook.surface.name}}</div>
      </div>
      <div class=" col-12 col-sm-12 col-lg-4 my-2 px-2">
        <div class="col-12 col-sm-12 col-lg-12 col-lg-12 m-0 px-0 d-flex justify-content-center align-items-center title-field">Open
          hours</div>
        <div class="col-12 col-sm-12 col-lg-12 col-lg-12 m-0 px-0 mt-3 d-flex justify-content-center align-items-center data-field">{{soccerfieldToBook.openHour.s1}}
          -
          {{soccerfieldToBook.openHour.e1}}</div>
      </div>
      <div class=" col-12 col-sm-12 col-lg-4 my-2 px-2">
        <div class="col-12 col-sm-12 col-lg-12 col-lg-12 m-0 px-0 d-flex justify-content-center align-items-center title-field">Fenced</div>
        <div class="col-12 col-sm-12 col-lg-12 col-lg-12 m-0 px-0 mt-3 d-flex justify-content-center align-items-center data-field">
          <i class="fas fa-check data-icon " *ngIf="soccerfieldToBook.isLockerRoom; else notFenced"></i>
          <ng-template #notFenced>
            <i class="fas fa-times data-icon data-icon-false"></i>
          </ng-template>
        </div>
      </div>
      <div class=" col-12 col-sm-12 col-lg-4 my-2 px-2">
        <div class="col-12 col-sm-12 col-lg-12 col-lg-12 m-0 px-0 d-flex justify-content-center align-items-center title-field">Lighting</div>
        <div class="col-12 col-sm-12 col-lg-12 col-lg-12 m-0 px-0 mt-3 d-flex justify-content-center align-items-center data-field">
          <i class="fas fa-check data-icon " *ngIf="soccerfieldToBook.isLockerRoom; else notLockerRoom"></i>
          <ng-template #notLighting>
            <i class="fas fa-times data-icon data-icon-false"></i>
          </ng-template>
        </div>
      </div>
      <div class=" col-12 col-sm-12 col-lg-4 my-2 px-2">
        <div class="col-12 col-sm-12 col-lg-12 col-lg-12 m-0 px-0 d-flex justify-content-center align-items-center title-field">Locker
          room</div>
        <div class="col-12 col-sm-12 col-lg-12 col-lg-12 m-0 px-0 mt-3 d-flex justify-content-center align-items-center data-field">
          <i class="fas fa-check data-icon data-icon-true" *ngIf="soccerfieldToBook.isLockerRoom; else notLockerRoom"></i>
          <ng-template #notLockerRoom>
            <i class="fas fa-times data-icon data-icon-false"></i>
          </ng-template>
        </div>
      </div>
      <div class=" col-12 col-sm-12 col-lg-12 my-2 px-2">
        <div class="col-12 col-sm-12 col-lg-12 col-lg-12 m-0 px-0 d-flex justify-content-center align-items-center title-field">Description</div>
        <div class="col-12 col-sm-12 col-lg-12 col-lg-12 m-0 px-0 mt-3 d-flex justify-content-center align-items-center text-center data-field">{{soccerfieldToBook.description}}</div>
      </div>
    </div>
  </div>
</div>
