<header class="col-12 p-4 container-header">
  <div class="row no-gutters container-data">
    <div class="col-6 col-lg-4 my-2 px-3 container-fields">
      <span class="field-title">
        Name
      </span>
      <span class="field-details">
        {{soccerfieldToBook?.name}}
      </span>
    </div>
    <div class="col-6 col-lg-4 my-2 px-2 container-fields">
      <span class="field-title">
        Adress
      </span>
      <span class="field-details">
        {{soccerfieldToBook?.address.city}},
        {{soccerfieldToBook?.address.street}}
        {{soccerfieldToBook?.address.apartmentNumber}}
      </span>
    </div>
    <div class="col-6 col-lg-4 my-2 px-2 container-fields">
      <span class="field-title">
        Size
      </span>
      <span class="field-details">
        {{soccerfieldToBook?.length}} m
        x
        {{soccerfieldToBook?.width}} m
      </span>
    </div>
    <div class="col-6 col-lg-4 my-2 px-2 container-fields">
      <span class="field-title">
        Price
      </span>
      <span class="field-details">
        {{soccerfieldToBook?.price}} PLN/1.5h
      </span>
    </div>
    <div class="col-6 col-lg-4 my-2 px-2 container-fields">
      <span class="field-title">
        Surface
      </span>
      <span class="field-details">
        {{soccerfieldToBook?.surface.name}}
      </span>
    </div>
    <div class="col-6 col-lg-4 my-2 px-2 container-fields">
      <span class="field-title">
        Open hours
      </span>
      <span class="field-details">
        {{soccerfieldToBook?.openHour.s1}}
        -
        {{soccerfieldToBook?.openHour.e1}}
      </span>
    </div>
    <div class="col-6 col-lg-4 my-2 px-2 container-fields">
      <span class="field-title">
        Fenced
      </span>
      <span class="field-details">
        <i *ngIf="soccerfieldToBook?.fenced;
         else notFenced"
          class="fas fa-check data-icon data-icon-true">
        </i>
        <ng-template #notFenced>
          <i class="fas fa-times data-icon data-icon-false">
          </i>
        </ng-template>
      </span>
    </div>
    <div class="col-6 col-lg-4 my-2 px-2 container-fields">
      <span class="field-title">
        Lighting
      </span>
      <span class="field-details">
        <i *ngIf="soccerfieldToBook?.lighting;
         else notLighting"
          class="fas fa-check data-icon data-icon-true"></i>
        <ng-template #notLighting>
          <i class="fas fa-times data-icon data-icon-false"></i>
        </ng-template>
      </span>
    </div>
    <div class="col-12 col-lg-4 my-2 px-2 container-fields">
      <span class="field-title">
        Locker room
      </span>
      <span class="field-details">
        <i *ngIf="soccerfieldToBook?.lockerRoom;
         else notLockerRoom"
         class="fas fa-check data-icon data-icon-true">
        </i>
        <ng-template #notLockerRoom>
          <i class="fas fa-times data-icon data-icon-false"></i>
        </ng-template>
      </span>
    </div>
    <div class="col-12 my-2 px-2 container-fields">
      <span class="field-title">
        Description
      </span>
      <span class="field-details">
        {{soccerfieldToBook?.description}}
      </span>
    </div>
  </div>
</header>
<section class="row no-gutters col-12 p-4">
  <div class="col-12 col-md-8 p-4">
    <app-calendar (toBooking)="setDateToBooking($event)">
    </app-calendar>
  </div>
  <div class="col-12 col-md-4 p-4 container-summary">
    <span class="field-title">
      Summary
    </span>
    <div class="mt-4 summary-picture">
    </div>
    <div class="col-12 mt-4 text-left">
      <span class="field-title field-title-summary">
        {{soccerfieldToBook?.address.city}},
        {{soccerfieldToBook?.address.street}}
        {{soccerfieldToBook?.address.apartmentNumber}}
      </span>
    </div>
    <div class="col-12 text-left">
      <span class="field-details-small">
        {{soccerfieldToBook?.length}} m
        x
        {{soccerfieldToBook?.width}} m
        | {{soccerfieldToBook?.surface.name}}
      </span>
    </div>
    <section [hidden]="isBooking">
      <div class="col-12 mt-4">
        <span class="field-title field-title-summary">
          Choose a date from the calendar
        </span>
        <ng-container *ngIf="errorMsg?.length > 0">
          <div class="col-12 mt-4">
            <span class="my-2 field-important-text">
              {{ errorMsg }}
            </span>
          </div>
        </ng-container>
      </div>
    </section>
    <section [hidden]="!isBooking"
      class="text-left">
      <div class="col-12 mt-4">
        <span class="field-title field-title-summary">
          {{toBookingStart | date:' h:mm:ss a' |
          convertTime12To24Format}}
          -
          {{toBookingEnd | date:' h:mm:ss a' |
          convertTime12To24Format}} | 90 min
        </span>
      </div>
      <div class="col-12">
        <span class="field-details-small">
          {{toBookingStart | date:'dd.MM.yyyy '}}
        </span>
      </div>
      <div class="col-12 mt-4">
        <span class="field-title field-title-summary">
          {{soccerfieldToBook?.price}} zł
        </span>
      </div>
      <div class="col-12">
        <span class="field-details-small">
          To pay
        </span>
      </div>
      <ng-container *ngIf="!isPaid">
        <div class="col-12 mt-4">
          <button class="btn summary-btn my-2"
            [disabled]="!isBooking"
            (click)="setReservation()">
              book
          </button>
        </div>
      </ng-container>
      <ng-container *ngIf="isPaid">
        <div class="col-12 text-center">
          <h2 class="my-2 field-important-text">
            The code below is required when paying for it
          </h2>
          <p id="paymentCode"
            class="my-4">
            {{paymentCode}}
          </p>
          <button class="btn summary-btn my-2"
           (cbOnSuccess)="copyCodeToClipboard()"
            ngxClipboard
            [cbContent]="paymentCode"
            [ngClass]="{true: 'summary-btn-copied' }[copyText === 'Copied']">
              {{ copyText }}
          </button>
          <button class="btn summary-btn my-2">
            Pay
          </button>
        </div>
      </ng-container>
    </section>
  </div>
</section>
