<div class="container-body pt-2">
  <div class="col-12 col-sm-12 col-md-12 col-lg-12 p-4">
    <div class="row no-gutters container-data w-100 h-100 d-flex">
      <div class="col-6 col-lg-4 my-2 px-3">
        <div class="col-12 m-0 px-0 d-flex justify-content-center align-items-center title-field">Name</div>
        <div
          class="col-12 m-0 px-0 mt-3 d-flex justify-content-center align-items-center data-field">{{soccerFieldToBook?.name}}</div>
      </div>
      <div class="col-6 col-lg-4 my-2 px-2">
        <div class="col-12 m-0 px-0 d-flex justify-content-center align-items-center title-field">Adress</div>
        <div
          class="col-12 m-0 px-0 mt-3 d-flex justify-content-center align-items-center data-field">{{soccerFieldToBook?.address.city}}
          ,
          {{soccerFieldToBook?.address.street}} {{soccerFieldToBook?.address.apartmentNumber}}</div>
      </div>
      <div class=" col-6 col-lg-4 my-2 px-2">
        <div class="col-12 m-0 px-0 d-flex justify-content-center align-items-center title-field">Size</div>
        <div
          class="col-12 m-0 px-0 mt-3 d-flex justify-content-center align-items-center data-field">{{soccerFieldToBook?.length}}
          m
          x
          {{soccerFieldToBook?.width}} m
        </div>
      </div>
      <div class=" col-6 col-lg-4 my-2 px-2">
        <div class="col-12 m-0 px-0 d-flex justify-content-center align-items-center title-field">Price</div>
        <div
          class="col-12 m-0 px-0 mt-3 d-flex justify-content-center align-items-center data-field">{{soccerFieldToBook?.price}}
          PLN/1.5h
        </div>
      </div>
      <div class=" col-6 col-lg-4 my-2 px-2">
        <div class="col-12 m-0 px-0 d-flex justify-content-center align-items-center title-field">SurfaceModel</div>
        <div
          class="col-12 m-0 px-0 mt-3 d-flex justify-content-center align-items-center data-field">{{soccerFieldToBook?.surface.name}}</div>
      </div>
      <div class=" col-6 col-lg-4 my-2 px-2">
        <div class="col-12 m-0 px-0 d-flex justify-content-center align-items-center title-field">Open
          hours
        </div>
        <div
          class="col-12 m-0 px-0 mt-3 d-flex justify-content-center align-items-center data-field">{{soccerFieldToBook?.openHour.s1}}
          -
          {{soccerFieldToBook?.openHour.e1}}</div>
      </div>
      <div class=" col-6 col-lg-4 my-2 px-2">
        <div class="col-12 m-0 px-0 d-flex justify-content-center align-items-center title-field">Fenced</div>
        <div class="col-12 m-0 px-0 mt-3 d-flex justify-content-center align-items-center data-field">
          <i *ngIf="soccerFieldToBook?.fenced; else notFenced" class="fas fa-check data-icon data-icon-true"></i>
          <ng-template #notFenced>
            <i class="fas fa-times data-icon data-icon-false"></i>
          </ng-template>
        </div>
      </div>
      <div class=" col-6 col-lg-4 my-2 px-2">
        <div class="col-12 m-0 px-0 d-flex justify-content-center align-items-center title-field">Lighting</div>
        <div class="col-12 m-0 px-0 mt-3 d-flex justify-content-center align-items-center data-field">
          <i *ngIf="soccerFieldToBook?.lighting; else notLighting" class="fas fa-check data-icon data-icon-true"></i>
          <ng-template #notLighting>
            <i class="fas fa-times data-icon data-icon-false"></i>
          </ng-template>
        </div>
      </div>
      <div class=" col-12 col-lg-4 my-2 px-2">
        <div class="col-12 m-0 px-0 d-flex justify-content-center align-items-center title-field">Locker
          room
        </div>
        <div class="col-12 m-0 px-0 mt-3 d-flex justify-content-center align-items-center data-field">
          <i *ngIf="soccerFieldToBook?.lockerRoom; else notLockerRoom"
             class="fas fa-check data-icon data-icon-true"></i>
          <ng-template #notLockerRoom>
            <i class="fas fa-times data-icon data-icon-false"></i>
          </ng-template>
        </div>
      </div>
      <div class=" col-12 my-2 px-2">
        <div class="col-12 m-0 px-0 d-flex justify-content-center align-items-center title-field">Description</div>
        <div
          class="col-12 m-0 px-0 mt-3 d-flex justify-content-center align-items-center data-field">{{soccerFieldToBook?.description}}</div>
      </div>
    </div>
  </div>
</div>
<section class="row no-gutters col-12 p-4">
  <div class="col-12 col-md-8 p-4">
    <app-calendar (toBooking)="setDateToBooking($event)"></app-calendar>
  </div>
  <div class="col-12 col-md-4 p-4">
    <div class="row no-gutters col-12 px-3 pb-3 pt-3 d-flex align-items-center justify-content-center title-field">
      Summary
    </div>
    <div class="col-12 p-0 container-summary">
      <div class="col-12  p-0 picture d-flex align-items-center">
      </div>
      <div class="col-12 pt-4 px-0">
        <div class="row no-gutters col-12 px-3 pb-3 d-flex align-items-center title-field title-field-summary">
          <div class="col-12 d-flex align-items-center p-0">
            {{soccerFieldToBook?.address.city}}, {{soccerFieldToBook?.address.street}}
            {{soccerFieldToBook?.address.apartmentNumber}}
          </div>
          <div class="col-12 p-0 d-flex align-items-center data-field-small">
            {{soccerFieldToBook?.length}} m
            x
            {{soccerFieldToBook?.width}} m | {{soccerFieldToBook?.surface.name}}
          </div>
        </div>
        <section [hidden]="!isBooking">
          <div class="row no-gutters col-12 px-3 pb-3 d-flex align-items-center title-field title-field-summary">
            <div class="col-12 p-0 d-flex align-items-center">
              {{toBookingStart | date:' h:mm:ss a' | convertTime12To24Format}} - {{toBookingEnd | date:' h:mm:ss a' |
              convertTime12To24Format}} | 90 min
            </div>
            <div class="col-12 p-0 d-flex align-items-center data-field-small">
              {{toBookingStart | date:'dd.MM.yyyy '}}
            </div>
          </div>
          <div class="row no-gutters col-12 px-3 pb-3 d-flex align-items-center title-field title-field-summary">
            <div class="col-12 p-0 d-flex align-items-center">
              {{soccerFieldToBook?.price}} zł
            </div>
            <div class="col-12 p-0 d-flex align-items-center data-field-small">
              To pay
            </div>
          </div>
          <div class="row no-gutters col-12 px-3 pb-3 d-flex align-items-center title-field title-field-summary">
            <ng-container *ngIf="!isPaid" ;else Payment>
              <div
                class="row no-gutters col-12 px-3 pb-3 pt-3 d-flex align-items-center title-field title-field-summary">
                <button class="btn btn-book w-100 my-2" [disabled]="!isBooking" (click)="setBooking()">book</button>
              </div>
            </ng-container>
            <ng-container *ngIf="isPaid">
              <h2 class="text-center important-info mb-2">The code below is required when paying for it</h2>
              <p id="paymentCode" class="w-100 text-center">{{paymentCode}}</p>
              <button class="btn btn-book w-100 my-2" (cbOnSuccess)="copyCodeToClipboard()" ngxClipboard
                      [cbContent]="paymentCode"
                      [ngClass]="{true: 'btn-copied' }[copyText === 'Copied']">{{ copyText }}</button>
              <button class="btn btn-book w-100 my-2">Pay</button>
            </ng-container>
          </div>
        </section>
      </div>
    </div>
    <section [hidden]="isBooking">
      <div class="row no-gutters col-12 px-3 pb-3 pt-3 d-flex align-items-center title-field title-field-summary">
        <div class="col-12 p-0 d-flex align-items-center text-center">
          Choose a date from the calendar
        </div>
        <ng-container *ngIf="errorMsg?.length > 0">
          <div class="col-12 mt-2 p-0 d-flex align-items-center text-center important-info">
            {{ errorMsg }}
          </div>
        </ng-container>

      </div>
    </section>
  </div>
</section>
