<div class="container">

  <div class="row">
    <div class="col-md-3">
      <div class="card-counter primary"
           (click)="goToSoccerFields()">
        <i class="fas fa-futbol"></i>
        <!--<span class="count-numbers">11</span>-->
        <span class="count-name">Boiska</span>
      </div>
    </div>

    <div class="col-md-3">
      <div class="card-counter danger"
           (click)="goToUser()">
        <i class="fas fa-users"></i>
        <!--<span class="count-numbers">5</span>-->
        <span class="count-name">Użytkownicy</span>
      </div>
    </div>
  </div>

</div>
