.container-body{
  height: 100vh;
  width: 100vw;
  position: relative;
  background: url("https://images.pexels.com/photos/54567/pexels-photo-54567.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940") no-repeat center center fixed;
  background-size: cover;
  position: relative;
}

.container-body::before{
  content: '';
	position: absolute;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;
  background-image: linear-gradient(to bottom right,#065888,#077a3b,#09a750);
	opacity: .4;
}

.container-center{
  position: absolute;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
}
