.navbar-dark .navbar-nav .nav-link{
  color:#fff;
  cursor: pointer;
  font-size:18px;
  transition: 1s all;
}

.navbar-nav{
  height: 48px;
  line-height: 48px;
  display: inline-block;
}

.nav-item:hover .nav-link{
  background-color: #fff;
  transition: 1s all;
}

.navbar-dark .navbar-nav .nav-link:hover{
  color:#495057;
  transition: 1s all;
}

/* .navbar-brand{
  height: 48px;
  line-height: 58px;
} */
