<div class="d-flex align-items-center justify-content-center container-body">
  <section class="col-8 container-center">

    <div class="row justify-content-center">
      <h1 class="form-title">Edit Soccer Field</h1>
    </div>

    <form [formGroup]="form">
      <div class="justify-content-center form-item">
        <input class="form-control form-input"
               type="text"
               formControlName="email">
      </div>

      <div class="justify-content-center form-item">
        <input class="form-control form-input"
               type="text"
               formControlName="firstName">
      </div>

      <div class="justify-content-center form-item">
        <input class="form-control form-input"
               type="text"
               formControlName="secondName">
      </div>

      <div class="justify-content-center form-item">
        <input class="form-control form-input"
               type="text"
               formControlName="nickname">
      </div>

      <div class="justify-content-center form-item">
        <input class="form-control form-input"
               type="text"
               formControlName="active">
      </div>

    </form>

    <div mat-dialog-actions>
      <button class="btn btn-danger"
              (click)="close()">Close
      </button>
      <button class="btn btn-primary"
              [disabled]="form.invalid"
              (click)="save()">Save
      </button>
    </div>

  </section>

</div>
