<main class="container-main">
  <section class="col-8 col-sm-8 col-lg-4 container-center">
    <header>
      <h1 class="form-title">Sign Up</h1>
    </header>
    <form (submit)="createUser()" [formGroup]="registrationForm">
      <div class="form-container">
        <input [ngClass]="{'error-show': errorReason === 'nickname'}"
          class="form-control form-input"
          formControlName="nickname"
          placeholder="Nickname"
          type="text">
        <i class="fas fa-user-tie form-icon"></i>
      </div>
      <div class="form-container">
        <input class="form-control form-input"
          formControlName="firstName"
          placeholder="First Name"
          type="text">
        <i class="fas fa-user-tie form-icon"></i>
      </div>
      <div class="form-container">
        <input class="form-control form-input"
          formControlName="secondName"
          placeholder="Second Name"
          type="text">
        <i class="fas fa-user-tie form-icon"></i>
      </div>
      <div class="form-container">
        <input [ngClass]="{'error-show': errorReason === 'email'}"
          class="form-control form-input"
          formControlName="email"
          placeholder="Email"
          type="email">
        <i class="fas fa-at form-icon"></i>
      </div>
      <div class="form-container">
        <input class="form-control form-input"
          formControlName="password"
          placeholder="Password"
          type="password">
        <i class="fas fa-key form-icon"></i>
      </div>
      <div class="form-container">
        <input class="form-control form-input"
          formControlName="confirmPassword"
          placeholder="Password"
          type="password">
        <i class="fas fa-key form-icon"></i>
      </div>
      <div class="row no-gutters form-container">
          <button [disabled]="registrationForm.invalid"
            class="btn btn-primary form-btn"
            type="submit">
              Sign Up
          </button>
        <div class="col-6 col-sm-4 col-lg-6 text-center mt-3">
          <span class="form-text">
            Are you member?
          </span>
        </div>
        <div class="col-6 col-sm-4 col-lg-6 text-center mt-3">
          <span class="form-text form-link">
            <a [routerLink]="[getLoginRoute()]">
              Click here to login
            </a>
          </span>
        </div>
      </div>
    </form>
      <section [hidden]="!registrationErrorMsg?.length > 0"
        class="form-container-error">
          <i class="fas fa-plus error-icon"></i>
          <span class="px-3">{{ registrationErrorMsg }}</span>
    </section>
  </section>
</main>
