<div class="row col-12 col-xs-12 col-md-12 col-lg-12 no-gutters p-2 mini-socerfield ">
  <div class="col-6 col-xs-6 col-md-6 col-lg-6 p-0 picture">
  </div>
  <div class="row col-6 col-xs-6 col-md-6 col-lg-6 no-gutters">
    <div class="col-12 col-xs-12 col-md-12 col-lg-12 px-3">
      <label class="d-flex align-items-center h-100 m-0">
        <i class="fas fa-map-marker-alt form-icons"></i>
        <span class="socerfield-data">Info</span>
      </label>
    </div>
    <div class="col-12 col-xs-12 col-md-12 col-lg-12 px-3">
      <label class="d-flex align-items-center h-100 m-0">
        <i class="fas fa-seedling form-icons"></i>
        <span class="socerfield-data">Info</span>
      </label>
    </div>
    <div class="col-12 col-xs-12 col-md-12 col-lg-12 px-3 align-items-center">
      <label class="d-flex align-items-center h-100 m-0">
        <i class="fas fa-credit-card form-icons"></i>
        <span class="socerfield-data">Info</span>
      </label>
    </div>
    <div class="col-12 col-xs-12 col-md-12 col-lg-12 px-3 my-auto">
      <button class="btn w-100">book</button>
    </div>
  </div>
</div>
