.navbar-dark .navbar-nav .nav-link {
  color: #fff;
  font-size: 18px;
  -webkit-transition: 1s all;
  transition: 1s all;
}

.navbar-nav {
  min-height: 48px;
  line-height: 48px;
}

.navbar-dark .navbar-nav {
  color: #495057;
  -webkit-transition: 1s all;
  transition: 1s all;
}

.nav-item {
  text-align: center;
  cursor: pointer;
  padding: 0 5px;
}

.nav-item:hover {
  background-color: #fff;
  -webkit-transition: 1s all;
  transition: 1s all;
}

.nav-item:hover>.nav-link:hover {
  color: #495057;
  -webkit-transition: 1s all;
  transition: 1s all;
}

.arrow {
  font-size: 18px;
  color: #fff;
  cursor: pointer;
  height: 100%;
  width: 100%;
  -webkit-transition: 1s all;
  transition: 1s all;
}

.nav-item:hover>.arrow {
  color: #495057;
  -webkit-transition: 1s all;
  transition: 1s all;
}

.hidden {
  opacity: 0;
  visibility: hidden;
  -webkit-transition: 1s all;
  transition: 1s all;
}
