<app-admin-pane></app-admin-pane>
<br>
<br>
<div class=col-md-12>

  <table class="table table-striped"
         [mfData]="soccerFields"
         #mf="mfDataTable"
         [mfRowsOnPage]="5">
    <thead>
    <tr>
      <th style="width: 5%">
        <mfDefaultSorter by="id">Id</mfDefaultSorter>
      </th>
      <th style="width: 10%">
        <mfDefaultSorter by="name">Nazwa</mfDefaultSorter>
      </th>
      <th style="width: 15%">
        <mfDefaultSorter by="address">Adres</mfDefaultSorter>
      </th>
      <th style="width: 10%">
        <mfDefaultSorter by="surface">Nawierzchnia</mfDefaultSorter>
      </th>
      <th style="width: 10%">
        <mfDefaultSorter by="width">Szerokość</mfDefaultSorter>
      </th>
      <th style="width: 10%">
        <mfDefaultSorter by="length">Długość</mfDefaultSorter>
      </th>
      <th style="width: 10%">
        <mfDefaultSorter by="price">Cena</mfDefaultSorter>
      </th>
      <th style="width: 10%">
        <mfDefaultSorter by="Opcje">Opcje</mfDefaultSorter>
      </th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let soccerField of mf.data">
      <td>{{soccerField.id}}</td>
      <td>{{soccerField.name | uppercase}}</td>
      <td>{{soccerField.address.street + ' ' + soccerField.address.apartmentNumber + ', ' + soccerField.address.city}}</td>
      <td>{{soccerField.name}}</td>
      <td>{{soccerField.width}}</td>
      <td>{{soccerField.length}}</td>
      <td>{{soccerField.price != null ? soccerField.price : 'Darmowy'}}</td>
      <td>
        <a class="btn btn-info btn-xs"
           href="#"
           style="margin-right: 5px">
          <span class="glyphicon glyphicon-edit"></span>Edytuj
        </a>
        <a class="btn btn-danger btn-xs"
           href="#">
          <span class="glyphicon glyphicon-remove"></span>Usuń
        </a>
      </td>
    </tr>
    </tbody>
    <tfoot>
    <tr>
      <td colspan="4">
        <mfBootstrapPaginator [rowsOnPageSet]="[5,10,25]"></mfBootstrapPaginator>
      </td>
    </tr>
    </tfoot>
  </table>

</div>
